include pug/_vars

doctype html      
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Туры в Японию | Туристическое агенство "Sakura travel"
        link(rel="icon" href="images/favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="css/style.min.css")
    body 
        .wrapper 

            header.header#home(style="background-image: url(images/header-bg.jpg);")
                .container

                    .header__top
                        nav.menu 
                            a.logo(href="#home")
                                img.logo__img(src="images/icons/logo.svg" width="138" height="62" alt="логотип")
                            button.menu__btn(type="button")
                                span 
                            ul.menu__list
                                li.menu__item: a.menu__link(href="#booking") Бронирование
                                li.menu__item: a.menu__link(href="#popular") Туры
                                li.menu__item: a.menu__link(href="#about") О Японии
                                li.menu__item: a.menu__link(href="#tour") О нас
                            a.header__phone(href="tel:8-999-615-19-09")
                                img(src="images/icons/phone.svg" width="34" height="32" alt="телефон")

                    .header__content
                        h1.header__title Туры по Японии
                        .header__box 
                            .header__desck
                                p Туры по самым экзотическим местам. Поехали с нами за новыми впечатлениями!
                            a.request(href="#booking") Оставить заявку

            main.main

                section.direction
                    h2.sr-only Направления
                    .container
                        ul.direction__inner 
                            each item in directionData 
                                li.direction__item 
                                    img.direction__img(src=item.src width="256" height="110" alt=item.text)
                                    .direction__text= item.text

                section.travel-info(style="background-image: url(images/travel__info-bg.jpg);")
                    .container

                        h2.travel-info__title.title Основные направления

                        ul.travel-info__box 
                            each item in travelInfoData 
                                li.travel-info__item 
                                    img.travel-info__img(src=item.src width="85" height="85" alt=item.alt)
                                    .travel-info__text 
                                        p=item.text

                section.popular#popular
                    .container
                        h2.popular__title.title Популярные предложения
                        ul.popular__list 
                            each item in popularData 
                                li.popular__item 
                                    .popular__wrapper(style=item.style)
                                        h3.popular__wrapper-title=item.title 
                                        p.popular__price=item.price

                section.promo
                    .container
                        .promo__inner
                            h2.promo__title.title Скидка 10% на все туры
                            .timer
                                ul.timer__items
                                    li.timer__item.timer__days 00
                                    li.timer__item.timer__hours 00
                                    li.timer__item.timer__minutes 00
                                    li.timer__item.timer__seconds 00
                            a.request.promo__request(href="#booking") Оставить заявку

                section.map 
                    .container
                        h2.map__title.title Карта Японии
                        iframe.map__iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4451107.321742096!2d136.47152142760908!3d37.66549363597678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34674e0fd77f192f%3A0xf54275d47c665244!2z0K_Qv9C-0L3QuNGP!5e1!3m2!1sru!2sru!4v1644267446306!5m2!1sru!2sru" width="100%" height="610" style="border:0;" allowfullscreen="" loading="lazy")                                                                               

                section.about#about
                    .container
                        .about__inner
                            .about__content 
                                h2.about__title.title О турах
                                .about__text 
                                    p Туры в Японию - это всегда увлекательное путешествие в другой мир где сочетаются современные технологии с умело сохранённой древней культурой и историей. Разобраться во всем многообразии Японии не просто и специалистам, но все приходит с опытом… Японский туропрератор Sakura travel подготовил для туристов из России, Украины, Израиля, США и других стран групповые и пакетные туры, в которых хорошо сбалансированы цена и качество. 
                            a.about__video(data-fancybox href="https://youtu.be/Gb0TQ7VeApY?si=h55VKYlTsOyo6171" style="background-image: url(images/video-bg.jpg);")

                section.gallery 
                    .container 
                        .gallery__top
                            h2.gallery__title.title Фотогалерея
                        .gallery__box
                            .gallery__items
                                ul.gallery__list 
                                    each item in galleryData1 
                                        li.gallery__item 
                                            a.gallery__link(href=item.href data-fancybox="images" data-width="2048" data-height="1365")
                                                img.gallery__img(src=item.src width="352" height="256" alt=item.alt)
                            .gallery__items
                                ul.gallery__list 
                                    each item in galleryData2 
                                        li.gallery__item 
                                            a.gallery__link(href=item.href data-fancybox="images" data-width="2048" data-height="1365")
                                                img.gallery__img(src=item.src width="352" height="256" alt=item.alt)

                section.tour#tour
                    .container 
                        h2.tour__title.title Туры по японии премиум класса
                        .tour__box
                            p Наша профессиональная команда, имеющая c 2010 года опыт работы в Японии, организует вам незабываемое путешествие в Страну восходящего солнца. В эпоху цифровых технологий любая информация становится доступна всего в несколько кликов. Многие будущие путешественники составляют собственный маршрут, изучая блоги и отзывы об отелях и достопримечательностях. Это неплохой способ, но поездка в такую экзотическую восточную страну, как Япония, имеет множество нюансов.
                            p Наш опыт работы с ведущими туристическими агентствами позволяет подобрать оптимальный маршрут и оперативно решать любые возникающие в пути проблемы.
                            p Наша главная задача - помочь вам сориентироваться в огромном количестве предложений и подобрать индивидуальную программу визита. Мы поможем вам получить незабываемые впечатления от посещения Страны восходящего солнца, не омрачённые никакими организационными проблемами. За 7-10 дней вы окунётесь в многовековую культуру Японии, получите массу ярких эмоций и узнаете массу интересного о жизни этой загадочной и притягательной страны.
                            p Наши туры охватывают самые главные туристические центры Японии – Токио, Киото, Осака из которых удобно посетить близлежащие исторические, архитектурные и ландшафтные достопримечательности городов – Камакура, Йокогама, Никко, Нара, Удзи, Хаконе, Цукуба, Нарита и др.
                        ul.tour__info
                            li.tour__info-item #[span.tour__info-numbers 13] лет успешной работы
                            li.tour__info-item #[span.tour__info-numbers 50] гостиниц без посредников
                            li.tour__info-item #[span.tour__info-numbers 25+] собственных туров
                            li.tour__info-item #[span.tour__info-numbers 372800] кв. км – площадь наших путешествий
                            li.tour__info-item #[span.tour__info-numbers 5000+] довольных туристов

                section.booking#booking(style="background-image: url(images/booking.jpg);")
                    .container 
                        h2.booking__title.title Забронируйте отдых в Японии
                        form.booking__form(action="#")
                            .booking__top
                                input.booking__input(type="text" placeholder="Ваше имя" name="name" required)
                                input.booking__input(type="tel" placeholder="Телефон" name="tel" required)
                                input.booking__input(type="email" placeholder="E-mail" name="email" required)
                                textarea.booking__area(placeholder="Комментарий" name="message" required)
                            .booking__bottom
                                button.request.booking__request(type="submit") Отправить заявку
                                label.booking__label Согласие на обработку персональных данных
                                    input.booking__checkbox(type="checkbox")
                                    span.booking__checkbox-style

                                    
            footer.footer
                .container 
                    a.logo(href="#home")
                        img.logo__img(src="images/icons/logo.svg" width="138" height="62" alt="логотип")
                    .footer__box
                        .footer__info
                            .footer__box-title
                                p Турагентство «Sakura travel»
                            .footer__copy
                                p © 2023. Все права защищены
                            a.footer__link(href="#") Политика конфиденциальности
                        address.footer__address
                            .footer__box-title
                                p Адрес:
                            .footer__address-text
                                p г. Жуковский, ул.Строительная, 14, корпус 3, 1 этаж
                        .footer__contacts
                            .footer__box-title
                                p Заказ туров и бронирование:
                            a.footer__phone(href="tel:8-050-8-543-543") тел. 8-999-715-25-21
                            a.footer__mail(href="mailto:japan_tour@gmail.com") e-mail:sakuratravel@yandex.ru                                                                           

        script(src="js/main.min.js")                                            