include pug/_vars

doctype html      
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Туры в Японию | Туристическое агенство "Sakura travel"
        link(rel="icon" href="images/favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="css/style.min.css")
    body 
        .wrapper 

            header.header#home(style="background-image: url(images/header-bg.jpg);")
                .container

                    .header__top
                        nav.menu 
                            a.logo(href="#home")
                                img.logo__img(src="images/icons/logo.svg" width="138" height="62" alt="логотип")
                            button.menu__btn(type="button")
                                span 
                            ul.menu__list
                                li.menu__item: a.menu__link(href="#booking") Бронирование
                                li.menu__item: a.menu__link(href="#popular") Туры
                                li.menu__item: a.menu__link(href="#about") О Японии
                                li.menu__item: a.menu__link(href="#tour") О нас
                            a.header__phone(href="tel:8-999-615-19-09")
                                img(src="images/icons/phone.svg" width="34" height="32" alt="телефон")

                    .header__content
                        h1.header__title Туры по Японии
                        .header__box 
                            .header__desck
                                p Туры по самым экзотическим местам. Поехали с нами за новыми впечатлениями!
                            a.request(href="#booking") Оставить заявку

            main.main

                section.direction
                    h2.sr-only Направления
                    .container
                        ul.direction__inner 
                            each item in directionData 
                                li.direction__item 
                                    img.direction__img(src=item.src width="256" height="110" alt=item.text)
                                    .direction__text= item.text

                section.travel-info(style="background-image: url(images/travel__info-bg.jpg);")
                    .container

                        h2.travel-info__title.title Основные направления

                        ul.travel-info__box 
                            each item in travelInfoData 
                                li.travel-info__item 
                                    img.travel-info__img(src=item.src width="85" height="85" alt=item.alt)
                                    .travel-info__text 
                                        p=item.text

                section.popular#popular
                    .container
                        h2.popular__title.title Популярные предложения
                        ul.popular__list 
                            each item in popularData 
                                li.popular__item 
                                    .popular__wrapper(style=item.style)
                                        h3.popular__wrapper-title=item.title 
                                        p.popular__price=item.price

                section.promo
                    .container
                        .promo__inner
                            h2.promo__title.title Скидка 10% на все туры
                            .timer
                                ul.timer__items
                                    li.timer__item.timer__days 00
                                    li.timer__item.timer__hours 00
                                    li.timer__item.timer__minutes 00
                                    li.timer__item.timer__seconds 00
                            a.request.promo__request(href="#booking") Оставить заявку                                                                   

        script(src="js/main.min.js")                                            